.form {
    display: flex;
    flex-direction: column;
    
    input {
        margin-bottom: 0.75rem;
        border-radius: var(--radii);
        padding: 0.5rem 1rem;
        border: 1px solid var(--gray-100);
    }
}