.Shortens {
    background-color: var(--bg-light);
    padding: 3rem 0 0;
}

.item {
    display: block;
    background-color: white;
    border-radius: var(--radii-sm);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    font-size: 16px;
    
    & > * {
        padding: 0 1rem;
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    span:first-child {
        position: relative;
        margin-right: auto;
        padding: 1rem;
        width: 100%;

        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        @media (max-width: 1023px) {
            &::after {
                content: '';
                position: absolute;
                z-index: 2;
                left: 0;
                bottom: 0;
            
                width: 100%;
                height: 2px;
                background-color: var(--bg-light);
            }            
        }

        @media (min-width: 1024px) {
            width: 450px;
            padding: 0;
        }
    }

    span:last-of-type {
        color: var(--primary-300);
    }

    &[data-active="true"] button {
        background-color: var(--primary-600);
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;    

        padding: 1rem;
    }

    @media (max-width: 1023px) {
        button {
            margin: 0 1rem 1rem;
            padding: inherit;
        }
    }
}