.button {
    background-color: var(--primary-300);
    color: white;
    border: none;
    border-radius: var(--radii);
    line-height: 2.5;
    padding: 0 1.5rem;
    font-weight: var(--fw-bold);
    font-family: var(--family);
    cursor: pointer;

    transition: ease-in-out 350ms;

    &:hover {
        background-color: var(--primary-100);
    }
}

.link {
    background-color: transparent;
    color: var(--gray-300);

    &:hover {
        color: var(--gray-900);
        background-color: transparent;
    }
}

// sizes
.small {}

.medium {
    line-height: 2.75;
    padding: 0 2.5rem;
}

.large {
    line-height: 3.5;
    padding: 0 2.5rem;
}

// variants
.square {
    border-radius: var(--radii-sm);
}