.menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 767px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    @media (min-width: 767px) {
        display: block;
        border-bottom: none;
    }
}

.login {
    display: flex;
    flex-direction: column;
    
    @media (min-width: 767px) {
        display: block;
    }
    
    & > button {
        margin-top: 1.25rem;

        @media (min-width:767px) {
            margin-top: 0;
        }
    }
}

.link {
    font-size: 14px;
    font-weight: var(--fw-bold);
    text-decoration: none;
    
    color: white;
    margin-bottom: 1.25rem;
    
    @media (min-width: 767px) {
        color: var(--gray-300);
        margin-bottom: 0;
        margin-right: 1.25rem;
        
        &:last-child {
            margin-right: 0;
        }
    
        &:hover {
            color: var(--gray-900);
        }
    }

}