* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-100: #aaf1f1;
  --primary-300: hsl(180, 66%, 49%);
  --primary-600: hsl(257, 27%, 26%);
  --secondary-300: hsl(0, 87%, 67%);
  --gray-100: hsl(0, 0%, 75%);
  --gray-300: hsl(257, 7%, 63%);
  --gray-600: hsl(255, 11%, 22%);
  --gray-900: hsl(260, 8%, 14%);
  --bg-light: hsl(225, 33%, 95%);

  /* font */
  --family: 'Poppins', sans-serif;
  --fw-normal: 500;
  --fw-bold: 700;

  --radii: 1rem;
  --radii-sm: 0.5rem;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
  padding-right: 0;
  }
}

#root {
  width: 100%;
  overflow: hidden;
}
